<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/video.css">
  <link rel="shortcut icon" href="/static/logo_small.png">
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <title>Upload a movie</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/static/logo_small.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Videos</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col">

        <div class="mb-3 mt-3">
          <div class="card" id="status_card">
            <div class="card-header" id="status_card_header">
              Video Status
            </div>
            <div class="card-body">
              <div id="status">
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              Video Encoding
            </div>
            <div class="card-body">
              <span>Encoding Progress</span>
              <div class="progress mb-3">
                <div id="encode_progress" class="progress-bar" role="progressbar"></div>
              </div>

              <div>
                <div class="form-group row">
                  <label for="title" class="col-sm-2 col-form-label">Video title</label>
                  <div class="col-sm-10">
                    <input type="title" class="form-control" id="title" placeholder="Video title">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tune" class="col-sm-2 col-form-label">Encoder tuning</label>
                  <div class="col-sm-10">
                    <select id="tune" class="form-control">
                      <option selected>film</option>
                      <option>animation</option>
                      <option>grain</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button id="encode_btn" class="btn btn-primary">Encode</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              Video file
            </div>
            <div class="card-body">
              <span>Upload progress</span>
              <div class="progress mb-3">
                <div id="upload_progress" class="progress-bar" role="progressbar"></div>
              </div>
              <div>
                <div class="form-group row">
                  <label for="file-name" class="col-sm-2 col-form-label">Video file</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="file-name" placeholder="Filename" disabled>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="picker_btn" disabled>Browse</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-2">Auto-start encoding</div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="auto_start_encoding">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                     <button class="btn btn-primary" type="button" id="upload_btn" disabled>Upload</button>
                     <button class="btn btn-danger" type="button" id="cancel_btn" disabled>Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div id="alert" class="alert alert-danger" role="alert" style="visibility: hidden;"></div>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/resumablejs@1.1.0/resumable.min.js"></script>
  <script>
    window.addEventListener('load', initialize); 

    var video = null;
    var uploader = null;

    function initialize() {
      document.getElementById('cancel_btn').addEventListener("click", cancel);
      document.getElementById('encode_btn').addEventListener('click', encode);
      document.getElementById('upload_btn').addEventListener("click", upload);

      window.setInterval(load_video, 1000);
      load_video();
    }

    function seconds_to_timestring(sec) {
      var hours = new String(Math.floor(sec / 3600).toFixed());
      sec %= 3600;
      var minutes = new String(Math.floor(sec / 60)).padStart(2, '0');
      var seconds = new String((sec % 60).toFixed()).padStart(2, '0');

      return "" + hours + ":" + minutes + ":" + seconds;
    }

    function load_video() {
      $.getJSON( '/api/videos/{{ video.id }}', function(data) {
        video = data;

        document.getElementById('title').value = video.title;
        var progress = document.getElementById('encode_progress');
        progress.innerHTML = "" + video.encoding_progress.toFixed(2) + "%";
        progress.style.width = "" + video.encoding_progress + "%";
  
        if (document.getElementById('file-name').value == "") {
          document.getElementById('file-name').value = video.orig_file_name;
        }

        document.getElementById('cancel_btn').disabled = true;

        statusbox = document.getElementById('status');
        statuscard = document.getElementById('status_card');
        statuscardheader = document.getElementById('status_card_header');
        switch(video.status) {
          case 'file-waiting':
            statusbox.innerHTML = 'Waiting for file upload. Select a file in the Video file section.';
            statuscard.className = 'card border-info';
            statuscardheader.className = 'card-header bg-info';
            break;
          case 'file-uploading':
            statusbox.innerHTML = 'File uploading. Please wait for it to complete. If you\'re not currently uploading hit cancel to try again.';
            statuscard.className = 'card border-info';
            statuscardheader.className = 'card-header bg-info';
            break;
          case 'file-uploaded':
            statusbox.innerHTML = 'File uploaded, waiting for encoding. If you\'re done making modifications press the Encode button..';
            statuscard.className = 'card border-info';
            statuscardheader.className = 'card-header bg-info';
            break;
          case 'start-encoding':
            statusbox.innerHTML = 'Waiting in encoding queue. Encoding will start shortly';
            statuscard.className = 'card border-primary';
            statuscardheader.className = 'card-header bg-primary';
            break;
          case 'encoding':
            var remaining = (video.duration * ((100 - video.encoding_progress) / 100)) / video.encoding_speed;
            statusbox.innerHTML = 'Encoding (' + video.encoding_speed + 'x) ' + seconds_to_timestring(remaining) + ' remaining';
            statuscard.className = 'card border-primary';
            statuscardheader.className = 'card-header bg-primary';
            break;
          case 'ready':
            statusbox.innerHTML = 'Ready! Watch it at <a href="{{ url_for('main.watch', video_id=video.id) }}">{{ url_for('main.watch', video_id=video.id, _external=True) }}</a>';
            statuscard.className = 'card border-success';
            statuscardheader.className = 'card-header bg-success';
            break;
          case 'error':
            statusbox.innerHTML = 'Error: ' + video.status_message;
            statuscard.className = 'card border-danger';
            statuscardheader.className = 'card-header bg-danger';
            break;
        }

        switch(video.status) {
          case 'encoding':
          case 'start-encoding':
          case 'ready':
          case 'file-uploaded':
          case 'error':
            var progress = document.getElementById('upload_progress');
            progress.innerHTML = "100%";
            progress.style.width = "100%";
        }

        switch(video.status) {
          case 'file-waiting':
            document.getElementById('picker_btn').disabled = false;
            document.getElementById('encode_btn').disabled = true;
          break;
          case 'file-uploading':
            document.getElementById('cancel_btn').disabled = false;
          case 'encoding':
          case 'start-encoding':
            document.getElementById('picker_btn').disabled = true;
            document.getElementById('encode_btn').disabled = true;
            break;
          case 'ready':
          case 'file-uploaded':
          case 'error':
            document.getElementById('encode_btn').disabled = false;
            document.getElementById('picker_btn').disabled = false;
        }

        if (! uploader) {
          create_uploader(video.file_url);
        }
      });
    }

    function encode() {
      title = document.getElementById('title').value;
      tune = document.getElementById('tune').value;

      $.ajax({
        url: video.url, 
        type: 'POST',
        data: JSON.stringify({
          'title': title,
          'tune': tune,
          'status': 'start-encoding'
        }),
        contentType: "application/json",
        success: function(video) {
          console.log(video);
          document.getElementById('encode_btn').disabled = true;
        },
        error: function(error) {
          console.log(video);
          document.getElementById('alert').innerHTML = error.message;
        }
      });
    }

    function upload() {
      var progress = document.getElementById('upload_progress');
      progress.innerHTML = "0%";
      progress.style.width = "0%";

      uploader.upload();

      document.getElementById('alert').style.visibility = "hidden";
      document.getElementById('picker_btn').disabled = true;
      document.getElementById('upload_btn').disabled = true;
    }

    function cancel() {
      uploader.cancel();

      $.ajax({
        url: video.url, 
        type: 'POST',
        data: JSON.stringify({
          'status': 'file-waiting'
        }),
        contentType: "application/json",
        error: function(error) {
          document.getElementById('alert').innerHTML = error.message;
        }
      });
    }

    function create_uploader(target) {
      uploader = new Resumable({
        target: target,
        simultaneousUploads: 3,
        prioritizeFirstAndLastChunk: true,
        chunkSize: 5 * 1024 * 1024,
        maxFiles: 1
      });

      uploader.assignBrowse(document.getElementById('picker_btn'));
      uploader.on('fileAdded', function(file) {
        console.log(file.fileName);
        document.getElementById('file-name').value = file.fileName;
        document.getElementById('upload_btn').disabled = false;

      });

      uploader.on('fileProgress', function(file) {
        var progress = document.getElementById('upload_progress');
        document.getElementById('upload_btn').disabled = true;
        progress.innerHTML = "" + (file.progress() * 100).toFixed(2) + "%";
        progress.style.width = "" + file.progress() * 100 + "%";
      });

      uploader.on('complete', function() {
        if (success) {
          if (document.getElementById('auto_start_encoding').checked) {
            encode();
          }
        }
      });

      uploader.on('error', function(message, file) {
        var progress = document.getElementById('upload_progress');
        m = JSON.parse(message).message;
        document.getElementById('alert').innerHTML = m;
        document.getElementById('alert').style.visibility = "visible";
        document.getElementById('picker_btn').disabled = false;

        progress.innerHTML = "";
        progress.style.width = "0%";
      });

      uploader.on('fileSuccess', function(file) {
        success = true;
      });
    }

    var success = false;
  </script>
</body>
</html>
